<div id="carouselId" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselId" data-slide-to="0" class="active"></li>
        <li data-target="#carouselId" data-slide-to="1"></li>
        <li data-target="#carouselId" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img src="images/slide/food1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img src="images/slide/food2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img src="images/slide/food3.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container my-5">
    <h1 class="mb-4">Favorite Food</h1>
    <p class="mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque praesentium eligendi maxime modi facilis! Explicabo repellat error aut incidunt beatae, vel, alias harum voluptatibus autem repudiandae soluta omnis doloremque itaque ex, ipsam deserunt voluptate rem fugit cumque laborum in sit aliquid. Nemo nobis quidem praesentium nisi tenetur asperiores odio voluptates ab voluptatem cum possimus quia numquam fugit commodi, ad optio at. Officiis nostrum dignissimos earum fuga. Reprehenderit maiores possimus praesentium perferendis eius numquam perspiciatis iure minus error minima exercitationem amet vitae voluptatem, sint debitis illo ipsum libero a. Quaerat sapiente vel totam quibusdam molestias cum at nobis cupiditate cumque saepe!</p>

</div>
